{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - CovidStories</title>

  

  <!-- Bootstrap core CSS -->
  <link href="{% static '/blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static '/blog/css/blog-home.css' %}" rel="stylesheet">
  <link rel="icon" href="https://img.icons8.com/nolan/64/coronavirus.png" type="image/gif" sizes="16x16">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'bloghome' %}"><img src="https://img.icons8.com/nolan/32/coronavirus.png"><b>&nbsp Survival Stories</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> {% endcomment %}
          {% comment %} <li class="nav-item">
            <a class="navbar-brand" href="{% url 'register' %}"><b>Click here to register and Read Stories</b></a>
          </li> {% endcomment %}

          {% comment %} <a class="navbar-brand" href="{% url 'register' %}"><i><b><u>Sign up for Full Story</u></b></i></a> {% endcomment %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'createpost' %}"><b>Submit Story</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"><b>About</b></a>
          </li>
         {% comment %} <li class="nav-item">
            <a class="navbar-brand" href="{% url 'login' %}"><b>LOGOUT</b></a>
          </li>  {% endcomment %}
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
    
       {% block content %} {% endblock %}

    </div>

  </div>

        <!-- Footer -->
  <footer class="py-10 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> Made with <span class="heart">❤</span> Febin Kallungal Paul</p>
    </div>
    <!-- /.container -->
  </footer> 

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/blog/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      
        $(document).on('click', '#like', function(event){
          event.preventDefault();
          var pk = $(this).attr('value');
          $.ajax({
            type: 'POST',
            url: '{% url "like_post" %}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){
              $('#like-section').html(response['form'])
              console.log($('#like-section').html(response['form']));
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });
    </script>
</body>

</html>
