{% extends "blog/base.html" %}
{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">
            <b>Submit your Story </b>
          </div>
        <div class="card-body">
             <form method ="POST" enctype="multipart/form-data">
             {% csrf_token %}
            <label for="id_title"><b>Title&nbsp&nbsp</b></label>
            {{form.title}}
             <div class="card mb-4">
             <p class="m-0 text-center">Add your story below</p>
             {{form.text}}
             </div>
             <button type="submit" class ="btn btn-primary" style="float: right;"> Submit</button>
             </form>
          </div>
        </div>
      </div>
{% endblock %}