{% extends "blog/base.html" %}
{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">
            <b>Submit your Story </b>
          </div>
        <div class="card-body">
             <form method ="POST" enctype="multipart/form-data">
             {% csrf_token %}
             {{form.as_p}}
             <button type="submit" class ="btn btn-primary"> Submit</button>
             </form>
          </div>
        </div>
      </div>
{% endblock %}