{% extends "blog/base.html" %}

{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <div class="card mb-4">
          {% comment %} <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> {% endcomment %}
          <div class="card-header">
            <b>Add your Story </b>
          </div>
        <div class="card-body">
             <form method ="POST" enctype="multipart/form-data">
             {% csrf_token %}
             {{form.as_p}}
             <button type="submit" class ="btn btn-primary"> Post Story</button>
             </form>
          </div>
        </div>
      </div>

{% endblock %}