{% extends "blog/base.html" %}

{% block content %}
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-4">
        <!-- Blog Post -->
        <div class="card mb-4">
          {% if post.picture %}
          <img class="card-img-top" src="{{post.picture.url}}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{object.title}}</h3>
            <p class="card-text">{{object.text|linebreaks}}</p>
            <div id="like-section">
          {% include 'blog/like_section.html' %}
          </div>
          </div>
          <div class="card-footer text-muted">
            Posted on {{object.date}} by
            <a href="#">{{object.author}}</a>
          </div>
        </div>
      </div>

{% endblock %}